.contact .contact-form {
  box-shadow: 0 0 30px rgba(var(--color-black-rgb), 0.1);
  padding: 30px;
  background: var(--color-white);
}

@media (max-width: 640px) {
  .contact .contact-form {
    padding: 20px;
  }
}

.contact .contact-form .error-message {
  color: var(--color-white);
  background: var(--color-red);
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-form .error-message br + br {
  margin-top: 25px;
}

.contact .contact-form .sent-message {
  color: var(--color-white);
  background: var(--color-green);
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .contact-form .loading {
  background: var(--color-white);
  text-align: center;
  padding: 15px;
}

.contact .contact-form .loading:before {
  content: '';
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid var(--color-green);
  border-top-color: var(--color-white);
  animation: animate-loading 1s linear infinite;
}

.contact .contact-form .form-group {
  margin-bottom: 20px;
}

.contact .contact-form input,
.contact .contact-form textarea {
  padding: 10px 14px;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.contact .contact-form input::focus,
.contact .contact-form textarea::focus {
  background-color: var(--color-primary);
}

.contact .contact-form button[type='submit'] {
  background: var(--color-primary);
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact .contact-form button[type='submit']:hover {
  background: rgba(var(--color-primary-rgb), 0.8);
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
